.comment {
  $base-border-radius: 3px !default;
  $base-spacing: 24px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $comment-gutter: 22px;
  $comment-image-padding: 11.2px;
  $comment-image-width: 64px;
  $comment-color: $base-font-color;
  $comment-background: lighten($action-color, 15%);
  $comment-detail-color: transparentize($comment-color, 0.5);
  $comment-image-vert-alignment: top;

  border-bottom: 1px solid transparentize($comment-color, 0.9);
  display: table;
  margin-bottom: $base-spacing;
  padding-bottom: 16px;
  width: 100%;

  .comment-image,
  .comment-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }

  .comment-image {
    padding-right: $comment-gutter;

    > img {
      //background: $comment-background;
      border-radius: $base-border-radius;
      display: block;
      height: auto;
      max-width: none;
      //padding: $comment-image-padding;
      width: $comment-image-width;
    }

    .comment-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .comment-content {
    width: 100%;

    h1 {
        font-weight:600;
      font-size: 16px;
      margin: 0 0 8px 0;
    }

    p {
      line-height: 24px;
      font-size:16px;
      margin-bottom: 8px;
    }

    p.comment-detail {
      color: $comment-detail-color;
      font-size: 14.4px;
      line-height:22px;
      font-style: italic;
    }
  }
}

