@import "../bourbon/bourbon";
@import "../neat/_neat";
@import "../base/_base";
@import "mobile.scss";

//@import "../Style/top-nav";
/*@import "hero";
@import 'blog';*/

/* Basic Style Sheets */

html, body {
    margin: 0;
    background: #F5F5F5;
}

a {
    outline: 0;
    color: inherit;
    text-decoration: none;
}

.center {
    text-align: center;
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
}
/*=====================================================================   Header   ===================================================================================*/
header {
    background: #5abbc9;

    nav {
        padding: 20px 40px;
        font-size: 14px;
        line-height: 21px;

        ul {
            li {
                display: inline;
                list-style-type: none;

                a {
                    color: inherit;
                    text-decoration: none;
                    padding: 0 15px;
                    text-transform: uppercase;
                    font-weight: 600;
                    opacity: 0.6;
                }

                a:hover {
                    color: inherit;
                    text-decoration: none;
                    opacity: 1.0;
                }
            }
        }
    }
}

.nav-right {
    text-align: right;
    margin-top: 15px;
}

.header {
    padding: 100px 0;
}

.header-section {
    font-size: 4vmax;
    text-align: center;
    border: 10px solid white;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #FFF;
}

.sub-section {
    margin-top: 25px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
}
/*=====================================================================   Section Body   ===================================================================================*/

.info {
    text-align: center;
    // padding: 50px;
    img {
        padding: 25px;
    }

    .icons {
        width: 100%;
    }

    p {
        font-family: $georgia;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
    }
}

.skills{
    //text-align:left;
    font-size:16px;
    padding:20px;
    margin:0 auto;
    max-width:500px;

    .col-xs-12{
        margin-top:-10px;
        padding:10px;
    }

    .progress{
        margin-top:10px;
    }
}

/*=====================================================================   Footer   ===================================================================================*/

#footer {
    padding: 40px 20px;
    background-color: #000;
    /*text-align:center;*/
    margin: 0 auto;
    font-size: 14px;
    line-height: 15px;
    color: white;
    font-family: $georgia;
}

.footer-container {
    max-width: 900px;
    margin: 0 auto;
}

.footer-element {
    padding: 50px 0;


    h5 {
        text-transform: uppercase;
        font-weight: 600;
    }

    ul {
        li {
            a {
                color: #FFF;
                text-decoration: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                opacity: 0.6;
            }

            a:hover {
                opacity: 1.0;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.footer-hr {
    margin: 0 auto;
    max-width: 150px;
    padding: 0 20px;
    opacity: 0.6;
    margin-top: -20px;
}

footer {
    p {
        padding-top: 15px;
        margin: 0 auto;
        opacity: 0.3;
        text-align: center;
        font-size: 13px;
        line-height: 19px;
    }
}
