@import "../bourbon/bourbon";
@import "../neat/_neat";
@import "../base/_base";
@import "mobile";
@import "experience";

//@import "../Style/top-nav";
/*@import "hero";
@import 'blog';*/

$color1: #74C6BA;
$color2: #6ECE0A;
$color3: #EED929;
$color4: #A675A2;
$color5: #F0717C;
$color6: #3E8DD2;

/* Basic Style Sheets */
html {
    height: 100%;
}

html, body {
    margin: 0;
    background: #F5F5F5;
}

input[type="text"], input[type="email"], textarea[name="message"] {
    color: #000;
    font-family: $helvetica;
}



a {
    outline: 0;
    color: inherit;
    text-decoration: none;
}

.center {
    text-align: center;
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
}
/*=====================================================================   Header   ===================================================================================*/
header {
    background-color: #5abbc9;

    nav {
        padding: 20px 40px;
        font-size: 14px;
        line-height: 21px;

        ul {
            li {
                display: inline;
                list-style-type: none;

                a {
                    color: inherit;
                    text-decoration: none;
                    padding: 0 15px;
                    text-transform: uppercase;
                    font-weight: 600;
                    opacity: 0.6;
                }

                a:hover {
                    color: inherit;
                    text-decoration: none;
                    opacity: 1.0;
                }
            }
        }
    }
}

.nav-right {
    text-align: right;
    margin-top: 15px;
}

.header {
    padding: 100px 0;
}

.header-section {
    font-size: 4vmax;
    text-align: center;
    border: 10px solid white;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #FFF;
}

.sub-section {
    margin-top: 25px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
}
/*=====================================================================   Section Body   ===================================================================================*/

.info {
    text-align: center;
    // padding: 50px;
    h3 {
        font-family: $georgia;
        letter-spacing: 1.5px;
    }

    img {
        padding: 25px;
    }

    .icons {
        width: 100%;
    }

    p {
        font-family: $georgia;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
    }
}

.skills {
    //text-align:left;
    font-size: 16px;
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;

    .col-xs-12 {
        margin-top: -10px;
        padding: 10px;
    }

    .progress {
        margin-top: 10px;
    }
}

.blue {
    text-align: center;
    padding: 50px 0;
    color: white;
    background-color: #5abbc9;

    h3 {
        font-family: $georgia;
        letter-spacing: 2px;
        margin-bottom: 50px;
        font-weight: 500;
    }
}

.projects {
    padding: 20px 0;
}

.white {
    padding: 50px 0;
    //text-align:center;
    h3 {
        font-family: $georgia;
        letter-spacing: 2px;
        margin-bottom: 50px;
        font-weight: 500;
    }
}

.contact {
    padding: 40px;
}
/*=====================================================================   Footer   ===================================================================================*/

#footer {
    padding: 40px 20px;
    background-color: #000;
    /*text-align:center;*/
    margin: 0 auto;
    font-size: 14px;
    line-height: 15px;
    color: white;
    font-family: $georgia;
}

.footer-container {
    max-width: 900px;
    margin: 0 auto;
}

.footer-element {
    padding: 50px 0;


    h5 {
        text-transform: uppercase;
        font-weight: 600;
    }

    ul {
        li {
            a {
                color: #FFF;
                text-decoration: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                opacity: 0.6;
            }

            a:hover {
                opacity: 1.0;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.footer-hr {
    margin: 0 auto;
    max-width: 150px;
    padding: 0 20px;
    opacity: 0.6;
    margin-top: -20px;
}

footer {
    p {
        padding-top: 15px;
        margin: 0 auto;
        opacity: 0.3;
        text-align: center;
        font-size: 13px;
        line-height: 19px;
    }
}

/*============================================================== Sidebar ================================================================================================*/

.sidebar {
    z-index: 0;
    @include position(fixed, 0px 0 0px -270px);
    font-family: $georgia;
    float: left;
    width: 250px;
    background: #333;
    //background:#FFF;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: white;
    padding: 20px;
    height: 100%;
    position: fixed;
    @include transition(all 0.5s ease-in-out);

    .nav-icon {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    ul {
        margin-top: 20px;

        li {
            a {
                text-align: left;
                font-size: 16px;
                text-transform: uppercase;
                display: block;
                padding: 10px 0 10px 10px;
                color: rgba(255,255,255,0.5);
                letter-spacing: 1px;
                -webkit-font-smoothing: antialiased;
            }

            a:hover {
                text-decoration: none;
                color: $color5;
                //transform:scaleX(1.1);
                opacity: 0.8;
            }

            a:active {
                color: inherit;
            }

            a:focus {
                color: $color6;
                text-decoration: none;
            }

            hr {
                width: 80%;
                opacity: 0.5;
                margin: 0px 0;
            }
        }
    }
    //li
    form {
        margin: 0 auto;
        font-size: 16px;

        textarea {
            min-height: 10em;
            overflow: auto;
            line-height: 20px;
        }

        input[type=submit] {
            padding: 10px;
        }

        input[type=submit]:hover {
            background-color: $color5;
        }

        input, textarea {
            padding: 0px 10px;
            display: block;
            margin-bottom: 20px;
            border: 2px solid $color6;

            &:focus, &:hover {
                outline: none;
                border-color: $color5;
            }

            textarea {
                padding: 10px;
            }
        }
    }

    .row > a > img {
        padding: 5px;
        filter: gray; /* IE6-9 */
        filter: grayscale(1); /* Firefox 35+ */
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        &:hover {
            filter: none;
            -webkit-filter: grayscale(0);
        }
    }

    .contact {
        margin-top: 20px;
        text-align: left;
        font-size: 16px;
        display: block;
        padding: 10px 0 10px 10px;
        color: rgba(255,255,255,0.8);
        letter-spacing: 1px;
    }
}

.contact-me {
    position: fixed;
    bottom: 0;
    //left:0;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    //margin-right:50px;
    //background-color:$color6;
    border-radius: 10px 10px 0 0;

    a {
        color: white;
        font-size: 16px;
        opacity: 0.7;
        padding: 0 15px;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
            color: inherit;
            text-decoration: none;
            opacity: 1.0;
        }

        &:focus, &:active {
            color: inherit;
            text-decoration:none;
        }
    }
}

.page-content {
    position: relative;
    z-index: 0;
    padding: 25px 50px;
    @include transition(all 0.5s ease-in-out);
    background-color:$color5;
    height:100vh;
    /*margin-top:-25px;*/
}

.page-wrap{
    background-color:$color5;
    height:100vh;
}


.toggle {
    //@include position(fixed, 20px 0 0 270px);
    margin: 10px 0 0 20px;
    top: 50px;
    z-index: 1;
    text-decoration: none;
    font-size: 30px;
    color: black;
    border: 0;
    @include transition(all 0.5s ease-in-out);
}

#sidebartoggler {
    display: none;

    &:checked + .page-wrap {
        .sidebar {
            left: 0px {
            }
        }

        .toggle {
            margin-left: 290px {
            }
        }

        .page-content {
            padding-left: 295px {
            }
        }
    }
}

/*======================================================================= Main Content =======================================================================*/

.header {
    padding: 20px 40px;
}

.header-icons {
    padding: 20px;
}

.sound {
}

.header-info{
    margin:30px 0 0 0;
    text-align:center;
    color:white;
    font-size:24px;
    line-height:36px;
    font-family:$georgia;
}

.keywords{
    text-align:center;
    padding:50px 0;
    color:white;
    font-size:22px;
   
  ul{
     

      li{
          display:inline;
          background-color:#AAA;
          color:white;
          padding:25px;
          margin:0 10px;  
          border-radius:25px;
      }
  }
     
}